In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [5]:
df = pd.read_csv("gld_price_data.csv")

In [6]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [9]:
x =df.drop(['GLD','Date'],axis=1)
y =df['GLD']

In [10]:
x

              SPX        USO      SLV   EUR/USD
0     1447.160034  78.470001  15.1800  1.471692
1     1447.160034  78.370003  15.2850  1.474491
2     1411.630005  77.309998  15.1670  1.475492
3     1416.180054  75.500000  15.0530  1.468299
4     1390.189941  76.059998  15.5900  1.557099
...           ...        ...      ...       ...
2285  2671.919922  14.060000  15.5100  1.186789
2286  2697.790039  14.370000  15.5300  1.184722
2287  2723.070068  14.410000  15.7400  1.191753
2288  2730.129883  14.380000  15.5600  1.193118
2289  2725.780029  14.405800  15.4542  1.182033

[2290 rows x 4 columns]

In [11]:
y

0        84.860001
1        85.570000
2        85.129997
3        84.769997
4        86.779999
           ...
2285    124.589996
2286    124.330002
2287    125.180000
2288    124.489998
2289    122.543800
Name: GLD, Length: 2290, dtype: float64

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [13]:
scaler = MinMaxScaler()

In [17]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [18]:
model=Sequential()

In [19]:
model.add(Dense(10,activation='relu',input_dim=4))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='linear'))

In [20]:
model.compile(loss='mean_squared_error',optimizer='Adam')

In [21]:
history = model.fit(x_train_scaled,y_train,epochs=50,validation_split=0.1)

Epoch 1/50
52/52 [==============================] - 5s 20ms/step - loss: 15605.1445 - val_loss: 16187.1309
Epoch 2/50
52/52 [==============================] - 0s 7ms/step - loss: 15465.2139 - val_loss: 15988.3652
Epoch 3/50
52/52 [==============================] - 0s 4ms/step - loss: 15179.7246 - val_loss: 15543.1943
Epoch 4/50
52/52 [==============================] - 0s 5ms/step - loss: 14534.7100 - val_loss: 14621.8203
Epoch 5/50
52/52 [==============================] - 0s 4ms/step - loss: 13396.0098 - val_loss: 13186.9580
Epoch 6/50
52/52 [==============================] - 0s 5ms/step - loss: 11768.3633 - val_loss: 11259.7334
Epoch 7/50
52/52 [==============================] - 0s 5ms/step - loss: 9715.1582 - val_loss: 8985.0254
Epoch 8/50
52/52 [==============================] - 0s 5ms/step - loss: 7430.3584 - val_loss: 6594.3647
Epoch 9/50
52/52 [==============================] - 0s 5ms/step - loss: 5182.9272 - val_loss: 4398.8315
Epoch 10/50
52/52 [==============================] - 0s 6ms/step - loss: 3268.5427 - val_loss: 2678.6987
Epoch 11/50
52/52 [==============================] - 0s 5ms/step - loss: 1896.2919 - val_loss: 1550.6876
Epoch 12/50
52/52 [==============================] - 0s 4ms/step - loss: 1085.5385 - val_loss: 955.2853
Epoch 13/50
52/52 [==============================] - 0s 4ms/step - loss: 703.3331 - val_loss: 702.9458
Epoch 14/50
52/52 [==============================] - 0s 5ms/step - loss: 555.7574 - val_loss: 608.2831
Epoch 15/50
52/52 [==============================] - 0s 5ms/step - loss: 503.9720 - val_loss: 569.5228
Epoch 16/50
52/52 [==============================] - 0s 5ms/step - loss: 482.0861 - val_loss: 548.3475
Epoch 17/50
52/52 [==============================] - 0s 5ms/step - loss: 468.2859 - val_loss: 533.3283
Epoch 18/50
52/52 [==============================] - 0s 7ms/step - loss: 456.1810 - val_loss: 518.7772
Epoch 19/50
52/52 [==============================] - 0s 5ms/step - loss: 444.2154 - val_loss: 505.0115
Epoch 20/50
52/52 [==============================] - 0s 6ms/step - loss: 432.6692 - val_loss: 491.6654
Epoch 21/50
52/52 [==============================] - 0s 9ms/step - loss: 421.2327 - val_loss: 478.5404
Epoch 22/50
52/52 [==============================] - 0s 8ms/step - loss: 409.9815 - val_loss: 465.6998
Epoch 23/50
52/52 [==============================] - 0s 8ms/step - loss: 399.0220 - val_loss: 453.5651
Epoch 24/50
52/52 [==============================] - 1s 13ms/step - loss: 388.2842 - val_loss: 440.3946
Epoch 25/50
52/52 [==============================] - 0s 9ms/step - loss: 377.7500 - val_loss: 428.8238
Epoch 26/50
52/52 [==============================] - 0s 8ms/step - loss: 367.8253 - val_loss: 416.4728
Epoch 27/50
52/52 [==============================] - 0s 10ms/step - loss: 357.5578 - val_loss: 405.3076
Epoch 28/50
52/52 [==============================] - 0s 8ms/step - loss: 347.6706 - val_loss: 393.8514
Epoch 29/50
52/52 [==============================] - 0s 7ms/step - loss: 338.2800 - val_loss: 382.5584
Epoch 30/50
52/52 [==============================] - 0s 6ms/step - loss: 328.9241 - val_loss: 372.3568
Epoch 31/50
52/52 [==============================] - 0s 7ms/step - loss: 319.9769 - val_loss: 361.6470
Epoch 32/50
52/52 [==============================] - 0s 8ms/step - loss: 311.2245 - val_loss: 351.5277
Epoch 33/50
52/52 [==============================] - 0s 7ms/step - loss: 302.6586 - val_loss: 341.8052
Epoch 34/50
52/52 [==============================] - 0s 7ms/step - loss: 294.2234 - val_loss: 331.9521
Epoch 35/50
52/52 [==============================] - 0s 7ms/step - loss: 286.0284 - val_loss: 322.5994
Epoch 36/50
52/52 [==============================] - 0s 10ms/step - loss: 278.1300 - val_loss: 313.2861
Epoch 37/50
52/52 [==============================] - 0s 7ms/step - loss: 270.4833 - val_loss: 304.1177
Epoch 38/50
52/52 [==============================] - 0s 6ms/step - loss: 262.7461 - val_loss: 295.5603
Epoch 39/50
52/52 [==============================] - 0s 5ms/step - loss: 255.5642 - val_loss: 287.0256
Epoch 40/50
52/52 [==============================] - 0s 6ms/step - loss: 248.2484 - val_loss: 278.5982
Epoch 41/50
52/52 [==============================] - 0s 7ms/step - loss: 241.0910 - val_loss: 270.0923
Epoch 42/50
52/52 [==============================] - 0s 8ms/step - loss: 234.4012 - val_loss: 262.2813
Epoch 43/50
52/52 [==============================] - 0s 8ms/step - loss: 227.5463 - val_loss: 254.2673
Epoch 44/50
52/52 [==============================] - 0s 9ms/step - loss: 220.9829 - val_loss: 247.0215
Epoch 45/50
52/52 [==============================] - 0s 8ms/step - loss: 214.7706 - val_loss: 239.6769
Epoch 46/50
52/52 [==============================] - 1s 11ms/step - loss: 208.4947 - val_loss: 231.9935
Epoch 47/50
52/52 [==============================] - 0s 9ms/step - loss: 202.2829 - val_loss: 225.1016
Epoch 48/50
52/52 [==============================] - 0s 6ms/step - loss: 196.4210 - val_loss: 218.3454
Epoch 49/50
52/52 [==============================] - 0s 5ms/step - loss: 190.9080 - val_loss: 211.6733
Epoch 50/50
52/52 [==============================] - 0s 5ms/step - loss: 185.1027 - val_loss: 204.9942

In [23]:
y_pred=model.predict(x_test_scaled)

15/15 [==============================] - 0s 3ms/step

In [24]:
from sklearn.metrics import r2_score

In [27]:
r2_score(y_test,y_pred)

0.6487528242988968